<!-- Default form row -->
<form>
  <!-- Grd row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col">
      <!-- Default input -->
      <input mdbInput type="text" class="form-control" placeholder="First name">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col">
      <!-- Default input -->
      <input mdbInput type="text" class="form-control" placeholder="Last name">
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grd row -->
</form>
<!-- Default form row -->
  <br>
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
    featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a mdbBtn color="primary" size="lg" role="button" mdbWavesEffect>Read More</a>
  <mdb-icon fas icon="trash" size="md" class="px-2"  (click)="openModal()"></mdb-icon>
  <mdb-icon fas icon="edit"></mdb-icon>

</div>

<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a mdbBtn color="primary" size="lg" role="button" mdbWavesEffect>Read More</a>
    <mdb-icon fas icon="trash" size="md" class="px-2"  (click)="openModal()"></mdb-icon>
    <mdb-icon fas icon="edit"></mdb-icon>
  
  </div>
<br>
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
    featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a mdbBtn color="primary" size="lg" role="button" mdbWavesEffect >Read More</a>
  <mdb-icon fas icon="trash" size="md" class="px-2"  (click)="openModal()"></mdb-icon>
  <mdb-icon fas icon="edit"></mdb-icon>
</div>

<span class="table-add float-right mb-3 mr-2">
    <a class="text-primary" (click)="modal()">
      <mdb-icon fas icon="plus" size="2x"></mdb-icon>
    </a>
  </span>
</div>


