


<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
    featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a mdbBtn color="primary" size="lg" role="button" mdbWavesEffect>Read More</a>
  <mdb-icon fas icon="trash" size="md" class="px-2"  (click)="openModal()"></mdb-icon>
  <mdb-icon fas icon="edit"></mdb-icon>

</div>

<br>
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
    featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a mdbBtn color="primary" size="lg" role="button"  mdbWavesEffect>Read More</a>
  <br>
  <div class="row">
      <mdb-icon class="text-center" far icon="edit" class="ml-5"></mdb-icon>
      <mdb-icon far icon="trash-alt" class="ml-5"></mdb-icon>
  </div>

</div>
<br>
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
    featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a mdbBtn color="primary" size="lg" role="button" mdbWavesEffect >Read More</a>
</div>




